@import models.Tweet

@*
以下はview templeteでの引数を受け取る記載です。
今回はTweetの一覧を取得するため@(tweets: Seq[Tweet]) となっています。
*@
@(tweets: Seq[Tweet])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@content("一覧画面") {
  <h1>一覧画面です</h1>
  <ul>
    @for(tweet <- tweets) {
      @* 削除用にフォームを追加 *@
      @helper.form(action = controllers.tweet.routes.TweetController.delete()) {
      @helper.CSRF.formField
      <input type="hidden" value="@tweet.id" name="id">
      <li>
        <a href="@controllers.tweet.routes.TweetController.show(tweet.id.getOrElse(0))">@tweet.content</a>
      </li>
      <li>
        <a href="@controllers.tweet.routes.TweetController.edit(tweet.id.getOrElse(0))">
          <button type="button">編集</button>
        </a>
      </li>
      <li>
          <input type="submit" value="削除">
      </li>
      }
    }
  </ul>
}
