name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - master
      - feature/**

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-go@v2-beta
        with:
          go-version: '^1.13.8'
      - name: install claat command
        run: go get github.com/googlecodelabs/tools/claat
      - name: Build Lessons
        run: ./bin/build_all_lesson.sh
      - name: clone github-pages repo
        env:
          TOKEN: ${{ secrets.TOKEN }}
        run: |
          git clone https://${GITHUB_ACTOR}:${TOKEN}@github.com/Christina-Inching-Triceps/Christina-Inching-Triceps.github.io.git
      - name: Deploy to Github Pages
        run: |
          cd Christina-Inching-Triceps.github.io
          cp -pr ../codelabs .
          git config --global user.name 'Github Actions'
          git config --global user.email 'actions@github.com'
          git add -A
          git commit -m "[actions] update codelabs contents"
          git push origin master
